<a href="https://colab.research.google.com/github/YUEUN328/202110_itw_lab_python/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 타입)

* 숫자 타입: 
    * int: 정수
    * float: 실수
* 문자열 타입: str
* 논리 타입: bool (True/False)

Python은 변수를 선언할 때 자료 타입을 명시하지 않음. 코드가 실행될 때 변수의 자료 타입이 결정

In [ ]:
# (주석, comment)
# 변수 = 값
n = 100
print(n)
print(type(n))  # type(arg): arg의 자료 타입을 리턴하는 함수.

100
<class 'int'>

식(expression): 값, 변수, 리턴 값이 있는 함수 호출, 연산.

ipynb 코드 셀에서 가장 마지막 줄에 있는 문장이 식(expression)인 경우, 식을 평가한 결과를 출력창에 출력해 줌.

In [ ]:
print(n)
n + 1

100

101

In [ ]:
pi = 3.14
print(pi)
type(pi)

3.14

float

## 명시적 타입 변환

* `int(값)`: 값을 정수 타입으로 변환하는 함수.
* `float(값)`: 값을 실수 타입으로 변환하는 함수.
* `str(값)`: 값을 문자열 타입으로 변환하는 함수.

In [ ]:
# 콘솔 창에서 사용자 입력 받기
n = input('정수 입력>>> ')

정수 입력>>> 100

In [ ]:
type(n)  #> str(문자열)

str

In [ ]:
n = int(n)  # 변수 n의 타입을 정수 타입으로 변환해서 저장

In [ ]:
type(n)

int

# 산술 연산자

* 산술 연산자: 숫자(int, float) 타입의 연산에 사용.
* 산술 연산자 종류: `+`, `-`, `*`, `/`, `//`(몫), `%`(나머지), `**`(거듭제곱)

In [ ]:
x = 10
y = 3

In [ ]:
print(f'{x} / {y} = {x / y}')
print(f'{x} // {y} = {x // y}')
print(f'{x} % {y} = {x % y}')
print(f'{x} ^ 2 = {x ** 2}')
print(f'{x} ^ -1 = {x ** -1}')

10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ^ 2 = 100
10 ^ -1 = 0.1

## 문자열(str) 타입에서 사용할 수 있는 연산자

* `+`: concatenate. 문자열 이어 붙이기.
* `*`: replicate. 문자열 복제.

In [ ]:
'Hello' + 'Python'

'HelloPython'

In [ ]:
'Hello' * 3

'HelloHelloHello'

# 비교 연산자와 논리 연산자

* 비교 연산자: `==`, `!=`, `>`, `<`, `>=`, `<='
* 논리 연산자: `and`, `or`, `not`

In [ ]:
x = 100

In [ ]:
(x > 50) and (x < 150)

True

In [ ]:
50 < x < 150  # x > 50 and x < 150 와 같은 코드

True