<a href="https://colab.research.google.com/github/YUEUN328/202110_itw_lab_python/blob/main/py05_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# while 반복문

```
[초기화 문장]
while 조건식:
    조건식을 만족하는 동안에 반복할 코드(문장들)
    [조건을 변경할 수 있는 문장]
```

In [ ]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [ ]:
x = 1
while x <= 5:
    print(x)
    # x = x + 1
    x += 1  # 복합 할당 연산자(+=, -=, *=, /=, ...)

1
2
3
4
5

* Ctrl(Cmd) + / : 주석 토글

# 무한 반복문과 break

In [ ]:
while True:  # 무한 반복문
    name = input('이름을 입력하세요... 멈추고 싶으면 q를 입력')
    if name == 'q':
        break
    print(f'안녕하세요, {name}!')

이름을 입력하세요... 멈추고 싶으면 q를 입력asd
안녕하세요, asd!
이름을 입력하세요... 멈추고 싶으면 q를 입력q

# Exercises

while 반복문 사용

* 1 이상 10 미만의 홀수들을 출력

In [1]:
n = 1
while n < 10:
    print(n)
    n += 2

1
3
5
7
9

In [6]:
n = 1
while n < 10:
    # if n % 2 == 1:  # n을 2로 나눈 나머지가 1과 같다면
    if n % 2:  # n을 2로 나눈 나머지가 있다면
        print(n)
    n += 1

1
3
5
7
9

Python에서 True로 취급하는 것:

* 0이 아닌 숫자들.
* 1글자 이상의 문자열.
* 1개 이상의 원소를 가지고 있는 list, tuple, dict, ...

* 구구단(2단 ~ 9단) 출력

```
--- 2단 ---
2 x 1 = 2
...
2 x 9 = 18

--- 3단 --- 
3 x 1 = 3
...
3 x 9 = 27

--- 4단 ---
...
```

In [8]:
x = 2
while x < 10:
    print(f'--- {x}단 ---')

    y = 1
    while y < 10:       
        print(f'{x} x {y} = {x * y}')        
        y += 1

    print()
    x += 1

--- 2단 ---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

--- 3단 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

--- 4단 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

--- 5단 ---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

--- 6단 ---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

--- 7단 ---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

--- 8단 ---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

--- 9단 ---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

* 구구단을 아래와 같이 출력

```
--- 2단 ---
2 x 1 = 2
2 x 2 = 4

--- 3단 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

...

--- 9단 ---
9 x 1 = 9
...
9 x 9 = 81
```

In [9]:
x = 2
while x < 10:
    print(f'--- {x}단 ---')

    y = 1
    while y < 10:       
        print(f'{x} x {y} = {x * y}')        
        if x == y:
            break
        y += 1   
                 
    print()
    x += 1

--- 2단 ---
2 x 1 = 2
2 x 2 = 4

--- 3단 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

--- 4단 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

--- 5단 ---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

--- 6단 ---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36

--- 7단 ---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49

--- 8단 ---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64

--- 9단 ---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [10]:
x = 2
while x < 10:
    print(f'--- {x}단 ---')

    y = 1
    while y <= x:       
        print(f'{x} x {y} = {x * y}')        
        y += 1   
                 
    print()
    x += 1

--- 2단 ---
2 x 1 = 2
2 x 2 = 4

--- 3단 ---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

--- 4단 ---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

--- 5단 ---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

--- 6단 ---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36

--- 7단 ---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49

--- 8단 ---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64

--- 9단 ---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81