<a href="https://colab.research.google.com/github/YUEUN328/202110_itw_lab_python/blob/main/py06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

list: 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에 원소들이 저장된 위치(번호).
    * 리스트의 인덱스는 **0**부터 시작.
    * 리스트에서 마지막 원소의 인덱스는 **(원소의 개수 - 1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * tuple과 다른 점!

In [2]:
# 숫자들을 저장하는 리스트
numbers = [1, 20, 3, 40, 7]

In [3]:
print(numbers)

[1, 20, 3, 40, 7]

In [4]:
numbers

[1, 20, 3, 40, 7]

ipynb의 코드 셀에서 가장 마지막 줄의 문장이 식(expression: 변수, 값, 함수 호출 등)이면 식을 평가한 결과를 자동으로 출력해줌.

In [5]:
type(numbers)

list

# Indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법.

In [6]:
numbers

[1, 20, 3, 40, 7]

In [7]:
numbers[0]  # list의 첫 번째 원소

1

In [8]:
numbers[4]  # list의 마지막 원소

7

In [9]:
numbers[-1]

7

In [10]:
numbers[-2]  # list에서 끝에서 두 번째 원소

40

In [11]:
# numbers[5]  #> IndexError

# Slicing

In [12]:
numbers[1:4]

[20, 3, 40]

```
list[start:end]
```

* start <= index < end 범위의 인덱스 위치의 원소들을 선택.
* start가 생략되면 리스트의 첫 번째 원소부터 선택. (0 <= index < end 범위의 원소들을 선택.)
* end가 생략되면 리스트의 마지막 원소까지 선택. (start <= index 범위의 모든 원소들을 선택.)
* slicing의 결과는 새로운 list.

In [13]:
numbers[:3]  # 리스트에서 첫 번째 원소부터 순서대로 3개를 선택

[1, 20, 3]

In [14]:
numbers[2:]  # 리스트에서 끝에서 3개의 원소를 선택

[3, 40, 7]

In [15]:
numbers[-3:]

[3, 40, 7]

In [16]:
numbers[0]  #> indexing의 결과: 값(int)

1

In [17]:
numbers[0:1]  #> slicing의 결과: 원소가 1개인 list

[1]

# 문자열(str)

문자들의 리스트

* 문자열 객체도 리스트 객체처럼 indexing과 slicing을 사용할 수 있다.

In [18]:
message = 'Hello, Python!'  # 14개의 문자들을 원소로 갖는 문자열

In [19]:
message[0]  # 문자열에서 첫 번째 문자

'H'

In [20]:
message[13]  # 문자열에서 가장 마지막 문자

'!'

In [21]:
message[-1]

'!'

In [22]:
message[:3]  # 문자열에서 첫 3글자

'Hel'

In [23]:
message[-3:]  # 문자열에서 마지막 3글자

'on!'

# list의 산술 연산

* `+`: concatenate. 두 개의 리스트를 하나의 리스트로 합침.
* `*`: replicate. 리스트의 원소들을 곱해주는 숫자만큼 복사해서 원소의 개수를 늘림.

In [24]:
'Hello' + 'Python'

'HelloPython'

In [25]:
[1, 2, 3] + [10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [26]:
'Hello' * 3

'HelloHelloHello'

In [27]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들(메서드)

## element 추가

In [28]:
numbers

[1, 20, 3, 40, 7]

`list.append(arg)`

리스트의 가장 마지막에 새로운 원소(arg)를 추가

In [29]:
numbers.append(100)

In [30]:
numbers

[1, 20, 3, 40, 7, 100]

`list.insert(index, value)`

list의 index 위치에 value를 추가(삽입)

In [31]:
numbers.insert(1, 100)

In [32]:
numbers

[1, 100, 20, 3, 40, 7, 100]

`list.extend(iterable)`

리스트 이어 붙이기(concatenate). `+` 연산과 동일한 기능.

In [33]:
numbers.extend([2, 4, 6])  # numbers + [2, 4, 6]

In [34]:
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6]

In [35]:
# 주의!!!
numbers.append([1, 3, 5])  #> 리스트의 가장 마지막에 다른 리스트가 원소로 추가.

In [36]:
numbers

[1, 100, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

## element 삭제

`list.remove(value)`

list에서 처음 등장하는 value 한 개를 삭제.

In [37]:
numbers.remove(100)

In [38]:
numbers

[1, 20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

`list.pop(index)`

list에서 index 위치에 있는 값을 삭제하고, 삭제한 값을 리턴. index를 전달하지 않으면, list에서 *가장 마지막 원소*를 삭제.

In [39]:
numbers.pop(0)

1

In [40]:
numbers

[20, 3, 40, 7, 100, 2, 4, 6, [1, 3, 5]]

In [41]:
numbers.pop()

[1, 3, 5]

In [42]:
numbers

[20, 3, 40, 7, 100, 2, 4, 6]

`list.clear()`

list의 모든 원소들을 삭제.

In [43]:
numbers.clear()

In [44]:
numbers  #> empty list(빈 리스트)

[]

## list의 값 수정

```
list[index] = value
```

In [45]:
numbers = [1, 3, 5, 7]
numbers

[1, 3, 5, 7]

In [46]:
numbers[1] = 100  # 인덱스 1 위치의 값(3)을 100으로 변경

In [47]:
numbers

[1, 100, 5, 7]

# list와 for 반복문

In [48]:
for x in 'hello':
    print(x)

h
e
l
l
o

In [49]:
for x in numbers:
    print(x)

1
100
5
7

리스트에서 인덱스와 그 인덱스의 원소가 모두 필요한 경우

In [50]:
len(numbers)  # 리스트 numbers의 원소의 개수를 리턴.

4

In [51]:
for i in range(len(numbers)):
    print(i, ':', numbers[i])

0 : 1
1 : 100
2 : 5
3 : 7

In [52]:
# list에서 리스트의 인덱스와 그 인덱스 위치의 값을 동시에 반복(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 100
2 : 5
3 : 7

# Exercises

Python에서 난수(random number) 생성: `random` 모듈을 import하고, `random` 모듈에 있는 함수들을 사용.

In [53]:
import random  # random 모듈 임포트(사용)

In [54]:
random.random()  # o <= x < 1 범위의 실수(float) 난수를 리턴.

0.6281758264601897

In [55]:
random.randrange(1, 5)  # 1 <= x < 5 범위의 정수(int) 난수를 리턴.

4

In [56]:
random.randrange(5)  # 0 <= x < 5 범위의 정수 난수를 리턴.

1

In [57]:
random.randint(1, 5)  # 1 <= x <= 5 범위의 정수 난수를 리턴.

4

## Ex 1

1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트에 저장된 모든 정수들의 합을 계산, 출력.
1. 리스트에 저장된 모든 정수들의 평균을 계산, 출력.

In [58]:
numbers = []
numbers

[]

In [59]:
for _ in range(5):
    numbers.append(random.randrange(1, 11))
    print(numbers)

[8]
[8, 9]
[8, 9, 2]
[8, 9, 2, 2]
[8, 9, 2, 2, 10]

In [60]:
sum(numbers)  # sum(iterable): 타입 객체의 모든 원소들의 합을 리턴.

31

In [61]:
total = 0
for x in numbers:
    total += x

total

31

In [62]:
total / len(numbers)

6.2

## Ex 2.

1. 빈 리스트(numbers) 생성.
1. [10, 100) 범위의 난수 10개를 빈 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트에 저장.
1. numbers에서 홀수들만 선택해서 odds 리스트에 저장.

In [63]:
numbers = []  # 빈 리스트 생성
for _ in range(10):  #10번 반복하면서
    numbers.append(random.randrange(10, 100))  # 10 이상 100 미만의 난수를 리스트에 추가

numbers  # 리스트 내용 출력

[54, 89, 71, 39, 50, 68, 85, 49, 65, 64]

In [64]:
evens = []  # numbers의 짝수들을 저장할 리스트
for x in numbers:  # numbers의 원소들을 반복(iteration)하면서
    if x % 2 == 0:  # 리스트에서 꺼낸 원소가 짝수이면
        evens.append(x)  # 리스트 evens에 추가

evens

[54, 50, 68, 64]

In [65]:
odds = []  # numbers의 홀수들을 저장할 리스트
for x in numbers:
    if x % 2:  # numbers에서 꺼낸 원소가 홀수이면
        odds.append(x)  # odds에 홀수를 추가

odds

[89, 71, 39, 85, 49, 65]

## Ex 3.

1. 빈 리스트(numbers)를 생성.
1. [-10, 10] 범위의 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트 is_positives를 만들고 출력.

In [66]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10, 11))
print(numbers)

is_positives = []
for x in numbers:
    if x > 0:
        is_positives.append(True)
    else:
        is_positives.append(False)       
print(is_positives)

[10, 3, -9, 5, -3, -6, -8, 3, -4, -6]
[True, True, False, True, False, False, False, True, False, False]

In [67]:
numbers = []
is_positives = []

for _ in range(10):  # 10번 반복하면서
    rand_num = random.randrange(-10, 11)  # [-10, 11) 범위의 난수 생성
    numbers.append(rand_num)  # 생성된 난수를 numbers에 추가
    if rand_num > 0:  # 생성된 난수가 양수이면
        is_positives.append(True)  # True를 is_positives에 추가.
    else:  # 생성된 난수가 음수이면
        is_positives.append(False)  # False를 is_positives에 추가.

print(numbers)    
print(is_positives)

[-2, 8, -5, -5, 1, -1, 7, 4, -4, 7]
[False, True, False, False, True, False, True, True, False, True]

## Ex 4.

1. 빈 리스트 gender_codes를 생성.
1. gender_codes에 0 또는 1을 랜덤하게 10번 저장.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력.

In [68]:
gender_codes = []
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))
print(gender_codes)

[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]

In [69]:
genders = []
for x in gender_codes:
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')
print(genders)

['Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male']

# List Comprehension(리스트 내포)

1 ~ 10까지 정수를 차례로 저장하고 있는 리스트: `[1, 2, 3, ..., 9, 10]`

In [70]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1부터 10까지 정수들의 제곱을 저장하는 리스트: `[1, 4, 9, 16, ..., 64, 81, 100]`

In [72]:
squares = []
for x in range(1, 11):
    squares.append(x ** 2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
squares2 = [x ** 2 for x in range(1, 11)]
squares2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

0 이상 10 이하의 짝수들을 저장하는 리스트: `[0, 2, 4, 6, 8, 10]`

In [74]:
evens = [x for x in range(0, 11, 2)]
print(evens)

[0, 2, 4, 6, 8, 10]

0 이상 10 이하의 홀수들을 저장하는 리스트: `[1, 3, 5, 7, 9]`

In [75]:
odds = [x for x in range(1, 10, 2)]
odds

[1, 3, 5, 7, 9]

In [76]:
# 10 이상 100 미만의 정수 난수 10개를 저장하는 리스트
numbers = [random.randrange(10, 100) for _ in range(10)]
numbers

[20, 38, 17, 14, 45, 94, 25, 48, 99, 47]

In [77]:
# numbers에서 짝수들만 선택해서 저장한 리스트
evens = [x for x in numbers if x % 2 == 0]
evens

[20, 38, 14, 94, 48]

In [78]:
# numbers에서 홀수들만 선택해서 저장한 리스트
odds = [x for x in numbers if x % 2]
odds

[17, 45, 25, 99, 47]

In [79]:
# numbers의 숫자가 짝수이면 'even', 홀수이면 'odd'를 저장하는 리스트
is_even = ['even' if x % 2 == 0 else 'odd' 
           for x in numbers]
is_even

['even', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'odd']

In [80]:
x = -100
is_positive = True if x > 0 else False  # if-else 표현식 - Java의 삼항 연산자(if 조건 ? 값1 : 값2)
is_positive

False

In [81]:
# -10 이상 10 이하의 정수 난수 10개를 저장하는 리스트
numbers = [random.randrange(-10, 11) for _ in range(10)]
numbers

[-9, -1, 2, 8, -1, -4, 1, -8, 7, -6]

In [82]:
# numbers의 원소들 중에서 양수들만 저장하는 리스트
positives = [x for x in numbers if x > 0]
positives

[2, 8, 1, 7]

In [83]:
# numbers의 원소들 중에서 양수가 아닌(음수 또는 0) 숫자들만 저장하는 리스트
not_positives = [x for x in numbers if x <= 0]
not_positives

[-9, -1, -1, -4, -8, -6]

In [84]:
# numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트
is_positives = [True if x > 0 else False 
                for x in numbers]
is_positives

[False, False, True, True, False, False, True, False, True, False]

# List Comprehension 연습

## Ex 1.

1. 0 또는 1을 랜덤하게 10개를 저장하는 리스트 gender_codes를 만들고 출력.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장하는 리스트 genders를 만들고 출력

In [85]:
gender_codes = [random.randrange(0, 2) for _ in range(10)]
gender_codes

[0, 0, 0, 0, 1, 0, 0, 0, 0, 1]

In [86]:
genders = ['Male' if x == 0 else 'Female' 
           for x in gender_codes]
print(genders)

['Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female']

## Ex 2.

1. 0, 1, 2를 랜덤하게 10개 저장하는 리스트 gender_codes를 만들고 출력.
1. gender_codes의 값이 0이면 'Male', 1이면 'Female', 2이면 'Unknown'을 저장하는 리스트 genders를 만들고 출력.

In [87]:
gender_codes = [random.randrange(0, 3) for _ in range(10)]
gender_codes

[2, 0, 2, 2, 1, 1, 1, 1, 2, 2]

In [88]:
genders = ['Male' if x == 0 else ('Female' if x == 1 else 'Unknown') 
           for x in gender_codes]
print(genders)

['Unknown', 'Male', 'Unknown', 'Unknown', 'Female', 'Female', 'Female', 'Female', 'Unknown', 'Unknown']

## Ex 3.

1. 0 이상 10 미만의 정수 난수 10개를 저장하는 리스트 numbers1을 만들고 출력.
1. 0 이상 10 미만의 정수 난수 10개를 저장하는 리스트 numbers2을 만들고 출력.
1. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 합을 저장하는 리스트 adds를 만들고 출력.
1. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 곱을 저장하는 리스트 mutiplicatoins를 만들고 출력.
1. mutiplications의 모든 원소들의 합을 계산하고 출력.

In [89]:
numbers1 = [random.randrange(0, 10) for _ in range(10)]
numbers1

[4, 5, 7, 1, 5, 8, 7, 9, 3, 8]

In [90]:
numbers2 = [random.randrange(0, 10) for _ in range(10)]
numbers2

[8, 7, 5, 9, 9, 9, 2, 0, 0, 3]

In [94]:
adds = [numbers1[i] + numbers2[i] for i in range(10)]
adds

[12, 12, 12, 10, 14, 17, 9, 9, 3, 11]

In [96]:
adds = [x + y for x, y in zip(numbers1, numbers2)]
adds

[12, 12, 12, 10, 14, 17, 9, 9, 3, 11]

In [97]:
mutiplicatoins = [x * y for x, y in zip(numbers1, numbers2)]
mutiplicatoins

[32, 35, 35, 9, 45, 72, 14, 0, 0, 24]

In [98]:
sum(mutiplicatoins)

266

In [99]:
total = 0
for x in mutiplicatoins:
    total += x

total

266

# 다차원 리스트

In [100]:
matrix = [ [1, 2, 3], 
          [4, 5, 6],
          [7, 8, 9] ]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2타원 리스트의 indexing

In [101]:
matrix[0]  #> 1차원 리스트

[1, 2, 3]

In [102]:
matrix[0][0]

1

In [103]:
matrix[1][2]  #> 6

6

## 2차원 리스트와 for 반복문

In [105]:
for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [106]:
for row in matrix:
    for x in row:
        print(x)

1
2
3
4
5
6
7
8
9

In [108]:
for row in matrix:
    for x in row:
        print(x, end=' ')
    print()  # 줄바꿈

1 2 3
4 5 6
7 8 9

## 2차원 리스트와 list comprehension

In [109]:
# 3x3 모양의 정수 난수 9개를 저장하는 2차원 리스트를 생성.
matrix1 = []  # 빈 리스트 - 1차원 리스트들을 저장하기 위한 리스트.
for _ in range(3):
    row = []  # 빈 리스트 - 3개의 난수를 저장하기 위한 리스트.
    for _ in range(3):
        row.append(random.randrange(10))
    matrix1.append(row)

matrix1

[[4, 1, 7], [1, 0, 3], [0, 9, 3]]

In [110]:
matrix2 = []
for _ in range(3):
    row = [random.randrange(10) for _ in range(3)]
    matrix2.append(row)

matrix2

[[6, 3, 2], [2, 8, 4], [9, 6, 9]]

In [111]:
matrix3 = [ [random.randrange(10) for _ in range(3)] 
           for _ in range(3) ]

matrix3

[[6, 1, 1], [5, 7, 3], [2, 6, 7]]

In [122]:
# matrix1, matrix2의 같은 인덱스에 있는 원소들끼리의 합을 원소로 갖는 리스트.
adds = []  # 각 원소들끼리의 합을 저장할 (2차원) 리스트
for row1, row2 in zip(matrix1, matrix2):
    temp = []  # 각 행에 있는 원소들끼리의 합을 저장할 (1차원) 리스트
    for x, y in zip(row1, row2):
        temp.append(x + y)
    adds.append(temp)
    
adds

[[10, 4, 9], [3, 8, 7], [9, 15, 12]]

In [123]:
adds = []
for row1, row2 in zip(matrix1, matrix2):
    temp = [x + y for x, y in zip(row1, row2)]
    adds.append(temp)

adds

[[10, 4, 9], [3, 8, 7], [9, 15, 12]]

In [124]:
adds = [ [ x + y for x, y in zip(row1, row2) ] 
        for row1, row2 in zip(matrix1, matrix2)]

adds

[[10, 4, 9], [3, 8, 7], [9, 15, 12]]