<a href="https://colab.research.google.com/github/YUEUN328/202110_itw_lab_python/blob/main/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

* **함수(function)**: 기능을 수행하는 코드 블록.
* **인수(argument)**: 함수를 호출할 때, 함수에게 전달하는 값(들).
* **매개변수(parameter)**: argument를 저장하기 위해서, 함수를 정의할 때 선언하는 (지역) 변수.
* **반환 값(return value)**: 함수가 기능 수행의 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

In [1]:
result = len([1, 2, 3, 4, 5])
# function: len
# argument: [1, 2, 3, 4, 5]
# 함수 호출(call, invoke): len([1, 2, 3, 4, 5])
# return value: 5

In [2]:
result

5

# 함수 정의(선언) 방법

```
def function_name([param1, ...]):
    ["""문서화 주석(documentation comment): 함수에 대한 설명"""]
    함수 기능 작성(코드)
    [return 반환 값]
```

In [3]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달받아서, x - y를 반환하는 함수.
    """
    return x - y

In [4]:
result = subtract(1, 2)
result

-1

파이썬은 2개 이상의 값을 반환하는 함수를 정의할 수 있음.

In [5]:
def plus_and_minus(x, y):
    """2개의 숫자 x, y를 전달받아서, x+y와 x-y를 반환하는 함수.
    """
    return x + y, x - y

In [6]:
result = plus_and_minus(1, 2)
result  #> tuple

(3, -1)

In [7]:
# tuple decomposition(분해): x, y = (3, -1)
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

3
-1

# 값을 반환하지 않는 함수

In [8]:
def repeat_messages(message, n):
    """문자열 message와 양의 정수 n을 전달받아서, 
    전달받은 문자열을 n번 반복해서 출력하는 함수.
    """
    for _ in range(n):
        print(message)

    # return None  # 반환 값이 없다는 것을 명시적으로 작성.
    # 반환 값이 없는 경우 return None 문장을 보통 생략함.

In [9]:
result = repeat_messages('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [10]:
print(result)  #> None: 값이 없음.

None

# 함수 정의/호출 연습

In [11]:
import random  # 난수 관련 함수들을 사용하기 위해서
import math  # 수학 함수들을 사용하기 위해서

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환.

In [ ]:
def make_list(start, end, n):
    # array = []  # 빈 리스트
    # for _ in range(n):  # n번 반복하면서
    #     array.append(random.randrange(start, end))  # 난수를 생성해서 리스트에 추가
    # return array  # 리스트를 리턴.  

    return [random.randrange(start, end) for _ in range(n)]

In [29]:
num_list = make_list(0, 10, 5)
num_list

[1, 5, 1, 8, 3]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 합을 반환.

In [31]:
def calc_sum(numbers):
    # return sum(numbers)
    
    total = 0
    for x in numbers:
        total += x
    return total

In [32]:
total = calc_sum(num_list)
total

18

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들을 저장하고 있는 리스트의 모든 원소들의 평균을 반환.

In [33]:
def calc_mean(numbers):
    return calc_sum(numbers) / len(numbers)

In [34]:
mean = calc_mean(num_list)
mean

3.6

## Ex 4.

* 함수 이름: calc_variance
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 분산을 반환.

In [35]:
def calc_variance(numbers):
    mean = calc_mean(numbers)  # 평균
    squares = [(x - mean) ** 2 for x in numbers] 
    var = calc_sum(squares) / (len(numbers) - 1)
    return var

In [36]:
var = calc_variance(num_list)
var

8.8

## Ex 5.

* 함수 이름: calc_stddev
* 기능: 숫자들을 저장하고 있는 리스트의 원소들의 표준편차를 반환.

In [37]:
def calc_stddev(numbers):
    return math.sqrt(calc_variance(numbers))

In [38]:
stddev = calc_stddev(num_list)
stddev

2.9664793948382653

## Ex 6.

* 함수 이름: find_max_and_min
* 기능: 숫자들을 저장하고 있는 리스트에서 최댓값과 최솟값을 반환.

In [39]:
def find_max_and_min(numbers):    
    # return max(numbers), min(numbers)
    
    max_numbers = numbers[0]
    min_numbers = numbers[0]
    for x in numbers:
        if x > max_numbers:
            max_numbers = x
        if x < min_numbers:
            min_numbers = x
    return max_numbers, min_numbers

In [40]:
num_list

[1, 5, 1, 8, 3]

In [42]:
find_max_and_min(num_list)

(8, 1)

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터(parameter)에 설정된 기본값.
* 함수를 호출할 때 default argument를 갖는 파라미터에 값을 전달하지 않으면, default argument가 함수 내부에서 사용됨.
* 함수를 호출할 때 default argument를 갖는 파라미터에 값을 전달하면, default argument는 무시되고 전달된 값이 함수 내부에서 사용됨.
* **(주의)** 함수를 정의할 때, default parameter들은 반드시 default 값을 갖지 않는 파라미터들 뒤에 선언해야 함!

In [43]:
def repeat_messages(message, n=1):
    for _ in range(n):
        print(message)

In [45]:
repeat_messages('안녕하세요')
# 파라미터 n에 값을 전달하지 않은 경우, n은 기본값 1을 갖게 됨.

안녕하세요

In [46]:
repeat_messages('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

# argument 전달 방법:

함수를 호출할 때, 함수에 값(argument)를 전달하는 방법:
* **positional argument**: 함수를 정의할 때 선언된 파라미터 순서대로 값을 전달하는 방식.
* **keyword argument**: 'param_name=value'과 같은 형식으로 값을 전달하는 방식.
    * keyword argument 방식으로 값을 전달할 때는 함수 정의의 파라미터 순서를 지키지 않아도 됨.
* **(주의)** 함수를 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는 반드시 positional argument가 먼저, keyword argument가 나중에 와야 함!

In [48]:
def minus(x, y):
    return x - y

In [49]:
# positional argument 방식의 함수 호출
minus(1, 2)

-1

In [50]:
# keyword argument 방식의 함수 호출
minus(x=1, y=2)

-1

In [53]:
# keyword argument 방식의 함수 호출에서는 파라미터의 순서를 지키지 않아도 됨.
minus(y=1, x=2)

1

In [54]:
minus(1, y=2)
# positional argument를 먼저, keyword argument를 나중에 전달하는 것은 가능.

-1

In [55]:
# minus(x=1, 2)
#> positional argument가 keyword argument보다 나중에 나오면 안 됨!

# 가변길이 인수(variable-length arguments)

In [56]:
print('hello')  # argument 1개

hello

In [57]:
print('hello', 'python')  # argument 2개

hello python

In [58]:
max([1, 2, 3])  # argument 1개

3

In [59]:
max(1, 2, 3, 10, 5, 7)  # argument 6개

10

**가변길이 인수(variable-length arguments)**

* 함수를 호출할 때 전달하는 값(argument)의 개수가 임의로 변할 수 있는 것.
    * argument 개수의 제한이 없다.
    * argument를 전달하지 않아도 됨.
* 함수를 정의할 때, 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받는 파라미터가 됨.
* 함수 내부에서 가변길이 인수는 tuple로 취급.
    * 가변길이 인수는 인덱스를 사용할 수 있음.
    * 가변길이 인수는 for-in 구문에서 사용할 수 있음.
* **(주의)**
    * 가변길이 인수는 keyword argument 방식으로 전달할 수 없음.
    * 함수를 선언할 때, 가변길이 인수를 갖는 파라미터는 **하나**만 선언할 수 있음.

In [63]:
def add_all(*values):
    total = 0
    for x in values:
        total += x
    return total

In [64]:
add_all(1)

1

In [65]:
add_all(1, 2, 3)

6

In [66]:
add_all()

0

In [67]:
def test1(a, *b):
    print('a = ', a)
    print('b = ', b)

In [68]:
test1(1, 2)

a =  1
b =  (2,)

In [69]:
test1(1, 2, 3)

a =  1
b =  (2, 3)

`test1()` 함수는 positional argument 방식으로만 값을 전달할 수 있는 함수.

In [70]:
def test2(*a, b):
    print('a = ', a)
    print('b = ', b)

In [71]:
test2(1, 2, b=3)

a =  (1, 2)
b =  3

`test2()` 함수에서 파라미터 b는 반드시 keyword argument 방식으로만 값을 전달할 수 있음.

In [72]:
def test3(*a, b=0):
    print('a = ', a)
    print('b = ', b)

In [73]:
test3(1)

a =  (1,)
b =  0

In [74]:
test3(1, 2, 3)

a =  (1, 2, 3)
b =  0

In [75]:
test3(1, 2, 3, b=100)

a =  (1, 2, 3)
b =  100

In [79]:
def calculate(*values, op):
    """
    values: 임의의 개수의 숫자들.
    op: 문자열. ('+', 또는 '*')
    op가 '+'인 경우에는 모든 값들의 합을 리턴. values에 전달된 값이 없으면 0을 리턴.
    op가 '*'인 경우에는 모든 값들의 곱을 리턴. values에 전달된 값이 없으면 1을 리턴.
    """
    if op == '+':
        result = 0
        for x in values:
            result += x
    elif op == '*':
        result = 1
        for x in values:
            result *= x
    else: 
        result = None
            
    return result

In [83]:
calculate(1, 2, 3, 4, 5, op='+')

15

In [84]:
calculate(1, 2, 3, 4, 5, op='*')

120

In [85]:
calculate(op='+')

0

In [86]:
calculate(op='*')

1

# 가변길이 키워드 인수(variable-length keyword argument)

* variable-length + keyword
    * variable-length argument: 함수를 호출할 때, 임의의 개수의 argument를 전달할 수 있음.
    * keyword argument: 함수를 호출할 때 반드시 `param_name=value` 형식으로 값을 전달.
* 함수를 정의할 때, 파라미터 이름 앞에 `**`를 사용.
* 함수를 호출할 때, 임의의 개수의 keyword argument를 전달하면 됨.
    * 파라미터 이름 제한 없음.
    * 값의 개수 제한 없음.
* 함수 내부에서 가변길이 키워드 인수는 dict로 취급됨.
    * 함수 호출할 때 사용한 파라미터 이름이 dict의 키(key)가 됨.
    * 함수 호출할 때 파라미터에 전달한 값(argument)이 dict의 값(value)이 됨.
* 가변길이 키워드 인수는 함수 정의에서 오직 한번만 가능.

In [87]:
def test4(**kwargs):
    print(kwargs)

In [88]:
test4()

{}

In [89]:
test4(a=1)

{'a': 1}

In [90]:
test4(a=1, b='hello')

{'a': 1, 'b': 'hello'}

In [91]:
def test5(*args, **kwargs):
    print('args =', args)  # args: 가변길이 인수 -> tuple
    print('kwargs =', kwargs)  # kwargs: 가변길이 키워드 인수 -> dict

In [92]:
test5(1, 2, 'a', 'b')

args = (1, 2, 'a', 'b')
kwargs = {}

In [94]:
test5(1, 2, a=100, b=200)

args = (1, 2)
kwargs = {'a': 100, 'b': 200}

In [95]:
def make_employee(emp_no, emp_name, **kwargs):
    emp = {'emp no': emp_no, 'emp_name': emp_name}
    for k, v in kwargs.items():
        # kwargs의 키(파라미터 이름)이 email 또는 phone인 경우에만 dict에 추가.
        # 그 이외의 파라미터들은 모두 무시.
        if k == 'email' or k == 'phone':
            emp[k] = v
    return emp

In [97]:
make_employee(101, 'Scott', tel='010-1111-2222')

{'emp no': 101, 'emp_name': 'Scott'}

In [98]:
make_employee(101, 'Scott', phone='010-1111-2222')

{'emp no': 101, 'emp_name': 'Scott', 'phone': '010-1111-2222'}

# 재귀 함수(recursive function)

함수 내부에서 자기 자신을 다시 호출하는 함수

In [103]:
def factorial(n):
    """
    0! = 1 (정의)
    1! = 1 = 0! x 1
    2! = 1 x 2 = 2 = 1! x 2
    3! = 1 x 2 x 3 = 6 = 2! x 3
    ...
    n! = 1 x 2 x ... x (n-1) x n = (n-1)! x n, n >= 1
    """
    result = None
    if n == 0:
        result = 1
    elif n > 0:
        result = factorial(n - 1) * n
    return result

In [104]:
for n in range(6):
    print(factorial(n))

1
1
2
6
24
120